#main-wrapper {
  .wrapper-header {
    margin-bottom 1em
    position relative
    left 16.667%
  }

  .main-card {
    max-width 50em
    margin auto
    mat-card-header {
      width 100%

      mat-card-title,
      mat-card-subtitle{
        font-size 40pt
        text-align center
      }
    }

    #table-container {
      max-width 66%
      margin auto
    }
  }
}
