<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Fights">
    <!-- Id Column -->
    <ng-container matColumnDef="eventDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="table-date-header" [arrowPosition]="'after'">
        <span class="table-header-left">Date</span>
        <span class="table-header-spacer"></span>
        <span class="table-header-right"><sub>({{getTimezone()}})</sub></span>
      </th>
      <td mat-cell *matCellDef="let row" class="align-right">{{row.eventDate | date:'MMM dd, y, hh:mm a'}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fight</th>
      <td mat-cell *matCellDef="let row">{{row.eventName}}</td>
    </ng-container>

    <!-- Org Column -->
    <ng-container matColumnDef="eventOrg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Org</th>
      <td mat-cell *matCellDef="let row">{{row.eventOrg}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
